* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav {
    background-color: #72D34F;
    color: #fff;
    height: 10vh;
    font-size: 3vh;
    font-weight: 900;
    padding: 2rem;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

li {
    height: 10vh;
}

.logo {
    width: 40vh;
    transform: translate(0, -16.5vh);
}