* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    position: sticky;
    z-index: 20;
    background-color: #72D34F;
    color: #fff;
    height: 12vh;
    font-size: 2.5vh;
    font-weight: 900;
    padding: 2rem;
    width: 100%;
    top: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    justify-content: flex-start;
}

li {
    height: 10vh;
    transform: translateX(100px);
    padding-right: 8vw;
}

/* select all li except first one */
li:not(:first-child) {
    transform: translateX(260px);
}

.logo {
    width: 40vh;
    position: absolute;
    left: 100%;
    transform: translate(-67%, -16.7vh);
}

.foot {
    bottom: 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: 100vh; */
    width: 100%;
    /* background-color: #72D34F; */
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.heading {
    font-size: 5vh;
    color: #72D34F;
    cursor: default;
    animation: fadeIn 1s ease-in-out;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2rem;
    padding : 4rem;
}

.grid:nth-of-type(2) {
    grid-template-columns: repeat(4, 1fr);
}

.grid div {
    width: calc(20vh / 6 + 50vw / 6);
    height: calc(20vh / 6 + 50vw / 6);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: ease 0.4s;
    outline: 3px solid #72D34F;
    outline-offset: 3px;
    border-radius: 1000px;
    color: #72D34F;
    font-size: 2vh;
    font-weight: 700;
    display: grid;
    place-items: center;
}

.grid div:hover {
    color: white;
    cursor: pointer;
    font-size: larger;
    outline-offset: 5px;
    transition: linear 0.2s;
    background-color: #72D34F;
    outline: 5px solid #72D34F;
}

.grid div:not(hover), .grid2 div:not(hover) {
    background-color: white;
    transition: linear background-color 2.5s;
}

.grid div::selection, .grid2 div::selection {
    background-color: black;
}

#bookimg {
    height: 40vh;
}

.grid2 {
    display: grid;
    grid-gap: 2rem;
    padding: 4rem;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.grid2 div {
    display: grid;
    color: #72D34F;
    font-weight: bolder;
    outline-offset: 3px;
    border-radius: 10px;
    place-items: center;
    align-items: center;
    transition: ease 0.4s;
    outline: 3px solid #72D34F;
    box-shadow: rgba(0, 0, 0, 0.3);
    width: calc(20vh / 4 + 50vw / 4);
    height: calc(20vh / 3 + 50vw / 3);
    border: 2px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
}

.grid2 div:hover{
    color: white;
    cursor: pointer;
    font-size: larger;
    outline-offset: 5px;
    transition: linear 0.2s;
    outline: 5px solid #72D34F;
}

.left{
    animation: slideIn 1s ease-in-out;
}

.right{
    animation: slideOut 1s ease-in-out;
}

nav li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: ease 1s;
}
nav li a:hover{
    text-shadow: 1px 1px black;
    font-size: 2.5vh;
}

/* contact design */



.contact h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .h2 {
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
}

.contact p {
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.contact-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 1rem;
}

.contact-list li {
    list-style-type: none;
    font-size: 20px;
    margin: 1rem;
    text-align: left;
    justify-content: left;
}

.contact-list li i{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: greenyellow;
}
.contact-list li i:hover{
    color: green;
    cursor: pointer;
}


.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    font-size: 2rem;
    color: greenyellow;
}

.contact-icons i:hover{
    background: transparent;
    color: green;
    box-shadow: 0 0 20px var(--main-color);
}

.contact form {
    margin-top: 1.2rem;
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    background: transparent;
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}

.contact form .input-box input {
    width: 49%;

}

.contact form textarea {
    resize: none;
}

.contact .btn {
    margin-top: 2rem;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    background: greenyellow;
    border-radius: 15px;
    color: black;
    border-bottom: green;
}

.contact .btn:hover {
    background: green;
    color: white;
    transition: 0.3s ease-in-out;
}

footer p{
    padding: 35px;
    display: flex;
    background: #72D34F;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.foot {
    padding: 35px;
    display: flex;
    background: #72D34F;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.col1 {
    flex-grow: 1;
    padding: 0 20px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.col2 {
    display: flex;
    width: 80%;
}

.about-section, .developer-section {
    flex-grow: 1;
    padding: 0 20px;
    color: white;
}

.about-section p {
    margin-top: 10px;
    font-weight: 500;
}

.foot-names {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.foot-names li {
    width: 100%;
    height: 275px;
    border-radius: 10px;
    
    margin: 0 10px;
    transition: box-shadow 0.3s ease;
}

.foot-names img {
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    object-fit: cover;
   
    border-radius: 10px; /* Add border-radius for a consistent look */
}

.foot-names h3 {
    position: relative;
    top: -50px;
    text-align: center;
}

.foot-names a {
    display: block;
    color: white;
    text-decoration: none;
}



h1 {
    transform: translateX(60%);
}

#scrollup{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: greenyellow;
    color: white;
    cursor: pointer;
    padding: 7px 10px 7px 10px;
    border-radius: 50%;
    font-size: 18px;
}

.foot-names{
    margin-bottom: 10px;
}

/* Key Frames */
@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid:nth-of-type(2) {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid div {
        width: calc(20vh / 6 + 50vw / 6);
        height: calc(20vh / 6 + 50vw / 6);
    }
    .grid div:hover {
        background-color: #72D34F;
        transition: linear 0.1s;
    }
    .grid div:not(hover) {
        background-color: white;
        transition: linear background-color 2.5s;
    }
    .grid div::selection {
        background-color: black;
    }
    .logo {
        width: 40vh;
        position: absolute;
        left: 100%;
        transform: translate(-40%, -16.7vh);
    }
    li:not(:first-child) {
        display: none;
    }
}



/* back to top button styles */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #213c15;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    display: none; /* hide by default */
    transition: background-color 0.3s, transform 0.3s;
    z-index: 999; 
    animation: fadeInUp 0.5s ease; /* Entrance animation */
}

.back-to-top:hover {
    background-color: #3a8f0f;
    transform: scale(1.1); /* Add a slight scale effect on hover */
}

/* show the button when user scrolls down */
body.scroll-down .back-to-top {
    display: block;
}
/* Entrance animation keyframes */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


