* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    position: sticky;
    z-index: 20;
    background-color: #72D34F;
    color: #fff;
    height: 12vh;
    font-size: 2.5vh;
    font-weight: 900;
    padding: 2rem;
    width: 100%;
    top: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    justify-content: flex-start;
}

li {
    height: 10vh;
    transform: translateX(100px);
    padding-right: 8vw;
}

/* select all li except first one */
li:not(:first-child) {
    transform: translateX(260px);
}

.logo {
    width: 40vh;
    position: absolute;
    left: 100%;
    transform: translate(-67%, -16.7vh);
}

.foot {
    bottom: 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: 100vh; */
    width: 100%;
    /* background-color: #72D34F; */
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.heading {
    font-size: 5vh;
    color: #72D34F;
    cursor: default;
    animation: fadeIn 1s ease-in-out;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2rem;
    padding : 4rem;
}

.grid:nth-of-type(2) {
    grid-template-columns: repeat(4, 1fr);
}

.grid div {
    width: calc(20vh / 6 + 50vw / 6);
    height: calc(20vh / 6 + 50vw / 6);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: ease 0.4s;
    outline: 3px solid #72D34F;
    outline-offset: 3px;
    border-radius: 1000px;
    color: #72D34F;
    font-size: 2vh;
    font-weight: 700;
    display: grid;
    place-items: center;
}

.grid div:hover {
    color: white;
    cursor: pointer;
    font-size: larger;
    outline-offset: 5px;
    transition: linear 0.2s;
    background-color: #72D34F;
    outline: 5px solid #72D34F;
}

.grid div:not(hover), .grid2 div:not(hover) {
    background-color: white;
    transition: linear background-color 2.5s;
}

.grid div::selection, .grid2 div::selection {
    background-color: black;
}

#bookimg {
    height: 40vh;
}

.grid2 {
    display: grid;
    grid-gap: 2rem;
    padding: 4rem;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.grid2 div {
    display: grid;
    color: #72D34F;
    font-weight: bolder;
    outline-offset: 3px;
    border-radius: 10px;
    place-items: center;
    align-items: center;
    transition: ease 0.4s;
    outline: 3px solid #72D34F;
    box-shadow: rgba(0, 0, 0, 0.3);
    width: calc(20vh / 4 + 50vw / 4);
    height: calc(20vh / 3 + 50vw / 3);
    border: 2px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
}

.grid2 div:hover{
    color: white;
    cursor: pointer;
    font-size: larger;
    outline-offset: 5px;
    transition: linear 0.2s;
    outline: 5px solid #72D34F;
}

.left{
    animation: slideIn 1s ease-in-out;
}

.right{
    animation: slideOut 1s ease-in-out;
}

nav li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: ease 1s;
}
nav li a:hover{
    text-shadow: 1px 1px black;
    font-size: 2.5vh;
}

.foot{
    padding: 35px;
    display: flex;
    background: #72D34F;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.about p{
    margin-top: 10px;
    font-weight: 500;
    color: rgb(109, 92, 92);
}
.about ul li img{
    width: 240px;
    height: 180px;
}
.about ul{
    margin-top: 20px;
    transform: translateX(28%);
}
.about ul li{
    width: 255px;
    height: 195px;
    border-radius: 10px;
    border: 8px solid white;
}
.about ul li h3{
    transform: translate(5px,-60px);
}
.about ul li a{
    color: white;
    text-decoration: none;
}
.about ul li:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px 5px rgb(77, 70, 70);
}
.about h1{
    color: white;
    transform: translateX(60%);
}
#scrollup{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: greenyellow;
    color: white;
    cursor: pointer;
    padding: 7px 10px 7px 10px;
    border-radius: 50%;
    font-size: 18px;
}

/* Key Frames */
@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid:nth-of-type(2) {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid div {
        width: calc(20vh / 6 + 50vw / 6);
        height: calc(20vh / 6 + 50vw / 6);
    }
    .grid div:hover {
        background-color: #72D34F;
        transition: linear 0.1s;
    }
    .grid div:not(hover) {
        background-color: white;
        transition: linear background-color 2.5s;
    }
    .grid div::selection {
        background-color: black;
    }
    .logo {
        width: 40vh;
        position: absolute;
        left: 100%;
        transform: translate(-40%, -16.7vh);
    }
    li:not(:first-child) {
        display: none;
    }
}



/* back to top button styles */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #213c15;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    display: none; /* hide by default */
    transition: background-color 0.3s, transform 0.3s;
    z-index: 999; 
    animation: fadeInUp 0.5s ease; /* Entrance animation */
}

.back-to-top:hover {
    background-color: #3a8f0f;
    transform: scale(1.1); /* Add a slight scale effect on hover */
}

/* show the button when user scrolls down */
body.scroll-down .back-to-top {
    display: block;
}
/* Entrance animation keyframes */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


