*{
    font-family: 'Inter', sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
/* ----------------background image-------------------------------- */
.bg-img-land img{
    filter: blur(0.7458557588805167vh);
    width: 100vw;
    height: 70vh;
}

/* --------------------------------------------------------- heading wala hissa --------------------------------------------------------------- */
.heading-subtitle{
    text-align: center;
    display: block;
    transform: translateZ(21.52852529601722vh);
}
.heading{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 5.382131324004305vh;
    font-weight: 900;
    margin-top: -45.821313240043054vh;
    /* text shadow blur*/
    text-shadow: 0 0 0.2458557588805167vh white;
}
.mind{
    color: #72d34f;
}
.space{
    color: #edeff4;
}
.find{
    transform: translateY(-6.458557588805167vh);
}

/* ------------------------------------------------------------------ quotes ------------------------------------------------------------------------- */
.wrapper{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #657085;
}

.wrapper .dynamic-text{
    margin-left: -20px;
    margin-top: 150px;
    height: 90px;
    line-height: 0px;
    overflow: hidden;
}

.dynamic-text li{
    list-style: none;
    font-size: 25px;
    font-weight: 500;
    /* text-shadow: 1px 1px black; */
    font-weight: 700;
    position: relative;
    top: 0;
    line-height: 100px;
    animation: slideup 450s steps(100) infinite;
}

@keyframes slideup {
    100%{
        top: -10000px;
    }
}

.dynamic-text li span{
    position: relative;
}

.dynamic-text li span::after{
    content: "";
    position: absolute;
}

/* ---------------------------------- ENTRY BUTTON ------------------------------------- */
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
button{
    background-color: #72d34f;
    width: 250px;
    height: 55px;
    border-style: none;
    border-radius: 12px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    width: 275px;
    height: 60px;
    background-color: green;
    border-radius: 16px;
}
button a{
    text-decoration: none;
    color: white;
}